\documentclass[11pt]{article}
\usepackage[a4paper,margin=25mm]{geometry}
\usepackage{fontspec}
{% set default_body_font = "Latin Modern Roman" %}
{% set body_font = metadata.body_font | default(default_body_font, true) %}
{% set body_font_clean = body_font | latex_escape | trim %}
{% set default_body_font_clean = default_body_font | latex_escape | trim %}
{% set set_body_font_cmd = '\\setmainfont{' ~ body_font_clean ~ '}' %}
{% set set_default_body_font_cmd = '\\setmainfont{' ~ default_body_font_clean ~ '}' %}
\IfFontExistsTF{ {{- body_font_clean -}} }{
  {{ set_body_font_cmd }}
}{
  {{ set_default_body_font_cmd }}
}
\usepackage{graphicx}
\usepackage{float}
\floatplacement{figure}{H}
\floatplacement{table}{H}
\usepackage{babel}
\usepackage[autostyle=true]{csquotes}
\usepackage{hyperref}
\usepackage{fancyhdr}
\usepackage{lastpage}
\usepackage{xcolor}
\usepackage{setspace}
\usepackage{listings}
\usepackage{amssymb}
\usepackage{longtable,booktabs,array}
\usepackage{calc}
\usepackage{etoolbox}
\usepackage{enumitem}
\usepackage{colortbl}
\usepackage{sectsty}

{% set title_font_candidate = metadata.title_font | default(body_font, true) %}
{% set title_font_clean = title_font_candidate | latex_escape | trim %}
{% set title_font_cmd = '\\newfontfamily\\MarkdownPDFTitleFont{' ~ title_font_clean ~ '}' %}
{% set title_default_cmd = '\\newfontfamily\\MarkdownPDFTitleFont{' ~ default_body_font_clean ~ '}' %}
\IfFontExistsTF{ {{- title_font_clean -}} }{
  {{ title_font_cmd }}
}{
  {{ title_default_cmd }}
}

{% set raw_title_color = metadata.title_color | default("#1A1A1A", true) %}
{% if "#" in raw_title_color %}
\definecolor{MarkdownPDFTitleColor}{HTML}{ {{- raw_title_color.replace('#', '') | upper -}} }
{% else %}
\colorlet{MarkdownPDFTitleColor}{ {{- raw_title_color | latex_escape -}} }
{% endif %}
\definecolor{MarkdownPDFLinkColor}{HTML}{1A6FB3}

\sectionfont{\color{MarkdownPDFTitleColor}\MarkdownPDFTitleFont}
\subsectionfont{\color{MarkdownPDFTitleColor}\MarkdownPDFTitleFont}
\subsubsectionfont{\color{MarkdownPDFTitleColor}\MarkdownPDFTitleFont}

{% raw %}
\providecommand{\passthrough}[1]{#1}
{% endraw %}
\lstset{
  basicstyle=\ttfamily\small,
  breaklines=true,
  columns=fullflexible,
  frame=single,
  framerule=0pt,
  backgroundcolor=\color[gray]{0.95},
  showstringspaces=false
}

\providecommand{\tightlist}{
  \setlength{\itemsep}{0pt}
  \setlength{\parskip}{0pt}
}

\makeatletter
\def\maxwidth{\ifdim\Gin@nat@width>\linewidth\linewidth\else\Gin@nat@width\fi}
\def\maxheight{\ifdim\Gin@nat@height>\textheight\textheight\else\Gin@nat@height\fi}
\makeatother
\setkeys{Gin}{width=\maxwidth,height=\maxheight,keepaspectratio}
\makeatletter
\def\fps@figure{htbp}
\makeatother

\setlist[itemize]{leftmargin=*, labelsep=0.5em}
\setlist[enumerate]{leftmargin=*, labelsep=0.5em}
\setlist[description]{leftmargin=*, labelsep=0.5em}

\definecolor{MarkdownPDFTableAltRow}{HTML}{FAFBFD}
\definecolor{MarkdownPDFTableRule}{HTML}{D6DFEB}

\setlength{\tabcolsep}{6pt}
\renewcommand{\arraystretch}{1.15}
\setlength{\LTleft}{\fill}
\setlength{\LTright}{\fill}

\newcommand{\MarkdownPDFSetupTable}{
  \rowcolors{2}{MarkdownPDFTableAltRow}{white}% alterner sur les lignes de données, en laissant l'entête intacte
  \arrayrulecolor{MarkdownPDFTableRule}
}

\AtBeginEnvironment{longtable}{
  \MarkdownPDFSetupTable
}

\AfterEndEnvironment{longtable}{
  \rowcolors{2}{white}{white}% réinitialiser pour les tableaux suivants
  \arrayrulecolor{black}
}

% Longtable fixes inspired by Pandoc's default template
\makeatletter
\patchcmd\longtable{\par}{\if@noskipsec\mbox{}\fi\par}{}{}
\makeatother
\IfFileExists{footnotehyper.sty}{\usepackage{footnotehyper}}{\usepackage{footnote}}
\makesavenoteenv{longtable}

\setlength{\emergencystretch}{2em}

\pagestyle{fancy}
\fancyhf{}

\hypersetup{
  colorlinks=true,
  linkcolor=MarkdownPDFLinkColor,
  urlcolor=MarkdownPDFLinkColor,
  citecolor=MarkdownPDFLinkColor,
  pdfborder={0 0 0}
}

% Header configuration
\fancyhead[L]{\ignorespaces
  \begin{minipage}[c]{0.6\textwidth}%
  \raggedright
  {\Large \textcolor{MarkdownPDFTitleColor}{\MarkdownPDFTitleFont {{ metadata.title | default(metadata.company, true) | latex_escape }}}}\\
  {\small {{ metadata.author | latex_escape | default("", true) }}}%
  \end{minipage}%
}
\fancyhead[R]{\ignorespaces
  \begin{minipage}[c]{0.35\textwidth}%
  \raggedleft
  {% if metadata.logo_path %}\includegraphics[height=1.2cm]{ {{ metadata.logo_path }} }\\{% endif %}
  {\small {{ metadata.contact | latex_escape | default("", true) }}}%
  \end{minipage}%
}

% Footer configuration
\fancyfoot[L]{\small {{ metadata.address | latex_escape | default("", true) }}}
\fancyfoot[R]{\small Page \thepage{} / \pageref{LastPage}}

{% if preamble %}
% Extra preamble
{{ preamble }}
{% endif %}

\setlength{\headheight}{32pt}
\setlength{\parskip}{0.8em}
\setlength{\parindent}{0pt}

\begin{document}

\onehalfspacing

\pagenumbering{gobble}
{% include 'cover.tex.j2' %}
\clearpage

{% if toc_entries %}
\thispagestyle{empty}
{% include 'toc.tex.j2' %}
\clearpage
{% endif %}

\pagenumbering{arabic}
\setcounter{page}{1}
\pagestyle{fancy}

{{ body | safe }}

\end{document}
